In [3]:
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "movie_budget.csv"

inflation = "inflation.csv"

In [8]:
# Read Purchasing File and store into Pandas data frame
raw_data = pd.read_csv(file_to_load)
raw_data

,movie_id,title,year,trivia,mpaa,release_date,run_time,distributor,director,writer,...,main_actor_4,budget,domestic,international,worldwide,genre_1,genre_2,genre_3,genre_4,html
0,tt0099088,Back to the Future Part III,1990,"Stranded in 1955, Marty McFly learns about the...",NaN,25-May,1 hr 58 min,Universal Pictures,Robert Zemeckis,Robert Zemeckis,...,Thomas F. Wilson,40000000,88277583.0,157866667.0,246144250.0,Adventure,Comedy,Sci-Fi,Western,https://www.boxofficemojo.com/title/tt0099088/...
1,tt0099165,The Bonfire of the Vanities,1990,"After his mistress runs over a young teen, a W...",R,22-Dec,2 hr 5 min,Warner Bros.,Brian De Palma,Michael Cristofer,...,Kim Cattrall,47000000,15691192.0,NaN,15691192.0,Comedy,Drama,Romance,NaN,https://www.boxofficemojo.com/title/tt0099165/...
2,tt0099348,Dances with Wolves,1990,"Lieutenant John Dunbar, assigned to a remote w...",NaN,9-Nov,3 hr 1 min,Orion Pictures,Kevin Costner,Michael Blake,...,Rodney A. Grant,22000000,184208848.0,240000000.0,424208848.0,Adventure,Drama,Western,NaN,https://www.boxofficemojo.com/title/tt0099348/...
3,tt0099422,Dick Tracy,1990,The comic strip detective finds his life vastl...,NaN,15-Jun,1 hr 45 min,Walt Disney Studios Motion Pictures,Warren Beatty,Chester Gould,...,Charlie Korsmo,47000000,103738726.0,59000000.0,162738726.0,Action,Comedy,Crime,Music,https://www.boxofficemojo.com/title/tt0099422/...
4,tt0099423,Die Hard 2,1990,John McClane attempts to avert disaster as rog...,NaN,6-Jul,2 hr 4 min,Twentieth Century Fox,Renny Harlin,Walter Wager,...,Reginald VelJohnson,70000000,117540947.0,122706486.0,240247433.0,Action,Thriller,NaN,NaN,https://www.boxofficemojo.com/title/tt0099423/...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3238,tt8772262,Midsommar,2019,A couple travels to Sweden to visit a rural ho...,R,3-Jul,2 hr 28 min,A24,Ari Aster,Ari Aster,...,William Jackson Harper,9000000,27426361.0,19463936.0,46890297.0,Drama,Horror,Mystery,Thriller,https://www.boxofficemojo.com/title/tt8772262/...
3239,tt8946378,Knives Out,2019,A detective investigates the death of a patria...,PG-13,21-Nov,2 hr 11 min,Lionsgate,Rian Johnson,Rian Johnson,...,Jamie Lee Curtis,40000000,165363234.0,143869563.0,309232797.0,Comedy,Crime,Drama,Mystery,https://www.boxofficemojo.com/title/tt8946378/...
3240,tt9024106,Unplanned,2019,All Abby Johnson ever wanted to do was help wo...,R,29-Mar,1 hr 49 min,Pure Flix Entertainment,Chuck Konzelman,Abby Johnson,...,Jared Lotz,6000000,19005109.0,2046806.0,21051915.0,Biography,Drama,NaN,NaN,https://www.boxofficemojo.com/title/tt9024106/...
3241,tt9134216,Playing with Fire,2019,A crew of rugged firefighters meet their match...,PG,7-Nov,1 hr 36 min,Paramount Pictures,Andy Fickman,Dan Ewen,...,Tyler Mane,29900000,44451847.0,24179822.0,68631669.0,Comedy,Family,NaN,NaN,https://www.boxofficemojo.com/title/tt9134216/...
3242,tt9173418,Brahms: The Boy II,2020,After a family moves into the Heelshire Mansio...,PG-13,20-Feb,1 hr 26 min,STX Entertainment,William Brent Bell,Stacey Menear,...,Ralph Ineson,10000000,12611536.0,7700000.0,20311536.0,Drama,Horror,Mystery,Thriller,https://www.boxofficemojo.com/title/tt9173418/...

In [9]:
clean_data = raw_data[['title', 'year', 'release_date', 'mpaa', 'writer', 'composer', 'cinematographer', 'main_actor_1', 'main_actor_2', 'main_actor_3', 'main_actor_4', 'budget','domestic', 'international', 'worldwide', 'genre_1', 'genre_2']]
clean_data.head()

,title,year,release_date,mpaa,writer,composer,cinematographer,main_actor_1,main_actor_2,main_actor_3,main_actor_4,budget,domestic,international,worldwide,genre_1,genre_2
0,Back to the Future Part III,1990,25-May,NaN,Robert Zemeckis,Alan Silvestri,Dean Cundey,Michael J. Fox,Christopher Lloyd,Mary Steenburgen,Thomas F. Wilson,40000000,88277583.0,157866667.0,246144250.0,Adventure,Comedy
1,The Bonfire of the Vanities,1990,22-Dec,R,Michael Cristofer,Dave Grusin,Vilmos Zsigmond,Tom Hanks,Bruce Willis,Melanie Griffith,Kim Cattrall,47000000,15691192.0,NaN,15691192.0,Comedy,Drama
2,Dances with Wolves,1990,9-Nov,NaN,Michael Blake,John Barry,Dean Semler,Kevin Costner,Mary McDonnell,Graham Greene,Rodney A. Grant,22000000,184208848.0,240000000.0,424208848.0,Adventure,Drama
3,Dick Tracy,1990,15-Jun,NaN,Chester Gould,Danny Elfman,Vittorio Storaro,Warren Beatty,Madonna,Al Pacino,Charlie Korsmo,47000000,103738726.0,59000000.0,162738726.0,Action,Comedy
4,Die Hard 2,1990,6-Jul,NaN,Walter Wager,Michael Kamen,Oliver Wood,Bruce Willis,William Atherton,Bonnie Bedelia,Reginald VelJohnson,70000000,117540947.0,122706486.0,240247433.0,Action,Thriller

In [10]:
movie_data = clean_data.dropna()
movie_data

,title,year,release_date,mpaa,writer,composer,cinematographer,main_actor_1,main_actor_2,main_actor_3,main_actor_4,budget,domestic,international,worldwide,genre_1,genre_2
8,The Godfather: Part III,1990,25-Dec,R,Mario Puzo,Carmine Coppola,Gordon Willis,Al Pacino,Diane Keaton,Andy Garcia,Talia Shire,54000000,66666062.0,70100000.0,136766062.0,Crime,Drama
9,Havana,1990,14-Dec,R,Judith Rascoe,Dave Grusin,Owen Roizman,Robert Redford,Lena Olin,Alan Arkin,Tomas Milian,40000000,9243140.0,402300.0,9645440.0,Drama,Romance
13,Lionheart,1990,11-Jan,R,S.N. Warren,John Scott,Robert C. New,Jean-Claude Van Damme,Harrison Page,Deborah Rennard,Lisa Pelikan,6000000,24078196.0,193000.0,24271196.0,Action,Crime
16,Pretty Woman,1990,23-Mar,R,J.F. Lawton,James Newton Howard,Charles Minsky,Richard Gere,Julia Roberts,Jason Alexander,Laura San Giacomo,14000000,178406268.0,285000000.0,463406268.0,Comedy,Romance
23,Boyz n the Hood,1991,12-Jul,R,John Singleton,Stanley Clarke,Charles Mills,Cuba Gooding Jr.,Laurence Fishburne,Hudhail Al-Amir,Lloyd Avery II,6500000,57504069.0,25001.0,57529070.0,Crime,Drama
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3238,Midsommar,2019,3-Jul,R,Ari Aster,The Haxan Cloak,Pawel Pogorzelski,Florence Pugh,Jack Reynor,Vilhelm Blomgren,William Jackson Harper,9000000,27426361.0,19463936.0,46890297.0,Drama,Horror
3239,Knives Out,2019,21-Nov,PG-13,Rian Johnson,Nathan Johnson,Steve Yedlin,Daniel Craig,Chris Evans,Ana de Armas,Jamie Lee Curtis,40000000,165363234.0,143869563.0,309232797.0,Comedy,Crime
3240,Unplanned,2019,29-Mar,R,Abby Johnson,Stephen Blake Kanicka,Drew Maw,Ashley Bratcher,Brooks Ryan,Robia Scott,Jared Lotz,6000000,19005109.0,2046806.0,21051915.0,Biography,Drama
3241,Playing with Fire,2019,7-Nov,PG,Dan Ewen,Nathan Wang,Dean Semler,John Cena,Keegan-Michael Key,John Leguizamo,Tyler Mane,29900000,44451847.0,24179822.0,68631669.0,Comedy,Family
3242,Brahms: The Boy II,2020,20-Feb,PG-13,Stacey Menear,Brett Detar,Karl Walter Lindenlaub,Katie Holmes,Owain Yeoman,Christopher Convery,Ralph Ineson,10000000,12611536.0,7700000.0,20311536.0,Drama,Horror

In [11]:
inflation_mult = pd.read_csv(inflation)
inflation_mult

      year Multiplier  Unnamed: 2
0   1990.0     98.02%         NaN
1   1991.0     90.02%         NaN
2   1992.0     84.47%         NaN
3   1993.0     79.11%         NaN
4   1994.0     74.64%         NaN
5   1995.0     69.82%         NaN
6   1996.0     64.95%         NaN
7   1997.0     61.25%         NaN
8   1998.0     58.78%         NaN
9   1999.0     55.35%         NaN
10  2000.0     50.30%         NaN
11  2001.0     46.14%         NaN
12  2002.0     43.86%         NaN
13  2003.0     40.66%         NaN
14  2004.0     37.01%         NaN
15  2005.0     32.52%         NaN
16  2006.0     28.38%         NaN
17  2007.0     24.82%         NaN
18  2008.0     20.21%         NaN
19  2009.0     20.64%         NaN
20  2010.0     18.69%         NaN
21  2011.0     15.06%         NaN
22  2012.0     12.73%         NaN
23  2013.0     11.10%         NaN
24  2014.0      9.33%         NaN
25  2015.0      9.20%         NaN
26  2016.0      7.84%         NaN
27  2017.0      5.59%         NaN
28  2018.0      3.02%         NaN
29  2019.0      1.23%         NaN
30     NaN        NaN         NaN

In [12]:
#inflation_clean = inflation_mult.dropna(axis=1)
#inflation_clean

inflation_clean = inflation_mult[["year", "Multiplier"]]
inflation_clean

inflation_cleaner = inflation_clean.dropna()
inflation_cleaner

#inflation_cleaner - use tonumeric, if it's a string that can't be converted, use string.replace to replace a pe

      year Multiplier
0   1990.0     98.02%
1   1991.0     90.02%
2   1992.0     84.47%
3   1993.0     79.11%
4   1994.0     74.64%
5   1995.0     69.82%
6   1996.0     64.95%
7   1997.0     61.25%
8   1998.0     58.78%
9   1999.0     55.35%
10  2000.0     50.30%
11  2001.0     46.14%
12  2002.0     43.86%
13  2003.0     40.66%
14  2004.0     37.01%
15  2005.0     32.52%
16  2006.0     28.38%
17  2007.0     24.82%
18  2008.0     20.21%
19  2009.0     20.64%
20  2010.0     18.69%
21  2011.0     15.06%
22  2012.0     12.73%
23  2013.0     11.10%
24  2014.0      9.33%
25  2015.0      9.20%
26  2016.0      7.84%
27  2017.0      5.59%
28  2018.0      3.02%
29  2019.0      1.23%

In [13]:

for row in movie_data:
   if row.loc["year"] in inflation_cleaner.loc["year"]
        
      #multiplier = inflation_cleaner[row.loc["year"]]

#if loc["year"] = 1990:
#if the value of the year column = the key of the inflation multiplier dictionary, then multiply the value in column 
#budget	domestic	international	worldwide by the value in the dictionary

#other option: instead of having a multiplier column, create a dictionary of inflation 
#use loc to locate (one is index) to locate specific values in a column 
#for loop if