In [1]:
import pandas as pd

In [2]:
csvpath = "movies.csv"
moviesdf = pd.read_csv(csvpath)
moviesdf = moviesdf[['name', 'rating', 'genre', 'year', 'score', 'budget', 'gross', 'runtime']]
moviesdf

,name,rating,genre,year,score,budget,gross,runtime
0,The Shining,R,Drama,1980,8.4,19000000.0,46998772.0,146.0
1,The Blue Lagoon,R,Adventure,1980,5.8,4500000.0,58853106.0,104.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,8.7,18000000.0,538375067.0,124.0
3,Airplane!,PG,Comedy,1980,7.7,3500000.0,83453539.0,88.0
4,Caddyshack,R,Comedy,1980,7.3,6000000.0,39846344.0,98.0
...,...,...,...,...,...,...,...,...
7663,More to Life,NaN,Drama,2020,3.1,7000.0,NaN,90.0
7664,Dream Round,NaN,Comedy,2020,4.7,NaN,NaN,90.0
7665,Saving Mbango,NaN,Drama,2020,5.7,58750.0,NaN,NaN
7666,It's Just Us,NaN,Drama,2020,NaN,15000.0,NaN,120.0
7667,Tee em el,NaN,Horror,2020,5.7,NaN,NaN,102.0

In [3]:
moviesdf.to_csv("movies_clean.csv", index = False)

In [ ]:
titles = []

budgets = []
adjusted_budgets = []

domestics = []
adjusted_domestics = []

internationals = []
adjusted_internationals = []

worldwides = []
adjusted_worldwides = []

budgets.append(budget)
adjusted_budgets.append(adjusted_budget)


adjusted_df = pd.DataFrame({"Title":titles, 
                             "Adjusted Budget":adjusted_budgets, 
                             "Adjusted Domestic":adjusted_domestics, 
                             "Adjusted International":adjusted_internationals, 
                             "Adjusted Worldwide":adjusted_worldwides})